<h1>Reservas Fixas</h1>


 <table class="table">
 	<tr>
 		<th>Horário</th>
      <% for i in (1..31) %>
 		    <th><center><%= i %></center></th>
      <% end %>

 	</tr>
  <% for i in (0..15) %>
  <tr>
    <th><%= schedules[i] %></th>
    <% for j in (0..30) %>
      	<td><center><%= @array[i][j] %></center></td>
    <% end %>
  </tr>
  <% end %>
 </table>



 <%= link_to 'Reservar', new_reserve_of_physical_space_path(@id), class: 'btn btn-info' %>
 <%= link_to 'Voltar', reserve_of_physical_spaces_espacos_path, class: 'btn btn-info' %>