<h1>Vigência das funções</h1>
<hr>
<h3><%= @user.name %></h3>

<table class="table table-hover">
  <tr>
    <th>Inicio</th>
    <th>Fim</th>
    <th>Interino?</th>
    <th>Função</th>
    <th>Nível</th>
    <th width="80">Ações</th>
  </tr>

<% @durations.each do |duration| %>
  <tr>
    <td><%= format_date_br duration.initiation %></td>
    <td><%= format_date_br duration.end %></td>
    <td><%= frendly_boolean  duration.acting %></td>
    <td><%= duration.function.name %></td>
    <td><%= duration.function.level %></td>
    <td>
        <%= link_to edit_duration_path(duration), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to duration, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_user_duration_path(@user.id), class: 'btn btn-info' %>
<%= link_to 'Voltar', @user, class: 'btn btn-info' %>
