<p id="notice"><%= notice %></p>

<p>
  <b>Inicio:</b>
  <%= @duration.initiation %>
</p>

<p>
  <b>Fim:</b>
  <%= @duration.end %>
</p>

<p>
  <b>Interino?:</b>
  <%= @duration.acting %>
</p>

<p>
  <b>Função:</b>
  <%= @duration.function.name %>
</p>

<p>
  <b>Nível:</b>
  <%= @duration.function.level %>
</p>

