<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Minhas Solicitações</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_request_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Data</th>
      <th>Data de Saida</th>
      <th>Data de Retorno</th>
      <th>Objetivo</th>
      <th>Justificativa</th>
      <th>Destino</th>
      <th>Distancia</th>
      <th>Ações</th>
      
    </tr>

  <% @requests.each do |request| %>
    <tr class= "<%= customizar(request)%>">
      <td><%= format_date_br request.date %></td>
      <td><%= format_date_br request.date_of_departure %></td>
      <td><%= format_date_br request.return_date %></td>
      <td><%= request.goal %></td>
      <td>
        <!-- Link para abrir a janela de dialogo modal -->
        <a href="#justification_<%= request.id %>" role="button" data-toggle="modal">Exibir</a>
        <% if customizar(request) == 'warning' %>
          <a href="#justification_negativa_<%= request.id %>" role="button" data-toggle="modal">/ Justificativa de desaprovação</a>
        <% end %>
        <!-- janela de dialogo modal -->
        <div id="justification_<%= request.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel_<%= request.id %>">Justificativa</h3>
          </div>
          <div class="modal-body">
            <p><%= request.justification %></p>
          </div>
        </div>
        <!-- fim da janela de dialogo modal -->
        <% if customizar(request) == 'warning' %>
            <!-- janela de dialogo modal -->
            <div id="justification_negativa_<%= request.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel_<%= request.id %>">Justificativa de desaprovação</h3>
              </div>
              <div class="modal-body">
                <p><%= request.confirmations.last.disapproval_justification %></p>
              </div>
            </div>
            <!-- fim da janela de dialogo modal -->
        <%end%>
      </td>
      <td><%= request.destination %></td>
      <td><%= request.distance %></td>
        <td>
      <% if customizar(request) != 'warning' && customizar(request) != 'success' %>
            <%= link_to add_participants_path(request.id), title: 'Adicionar participantes' do %> <i class="icon-user"></i><%end%>
            <%= link_to edit_request_path(request), title: 'Editar' do %> <i class="icon-edit"></i><%end%>
            <%= link_to request, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i><%end%>
      <%end%>
         </td>
    </tr>
  <% end %>
  </table>
</div>