<%= form_tag salvar_alocacao_path(@space.id,@semester.id), method: 'post', id: 'formulario' do %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Período Letivo: <%= @semester.name%> <%= @space.location_type.name%>: <%= @space.name %></a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', id: 'salvar' %> </li>
      <li><%= link_to 'Voltar', alocation_permanents_space_path(@space.id,@semester.id) %> </li>
    </ul>
  </div>
</div>

	
  <div class="espacamento">

   <table class="table">
   	<tr>
   		<th>Horário</th>
  	  <th><center>Dom</center></th>
      <th><center>Seg</center></th>
      <th><center>Ter</center></th>
      <th><center>Qua</center></th>
      <th><center>Qui</center></th>
      <th><center>Sex</center></th>
      <th><center>Sáb</center></th>
   	</tr>
    <% id = 0 %>
    <% for i in (0..15) %>
    <tr>
    	<th><%= schedules[i] %></th>
      <% for j in (0..6) %>
        	<td>
            <center>
        	  <%= check_box_tag "alocations[#{id}][ok]", 'ok', @array[i][j] %>
  	        <%= hidden_field_tag "alocations[#{id}][schedule]", i %>
  	        <%= hidden_field_tag "alocations[#{id}][weekday]", j %>
  	        <% id += 1 %>
          </center>
        	</td>
      <% end %>
    </tr>
    <% end %>
   </table>
  </div>
<%end%>

<script type="text/javascript">
  $("#salvar").click(function(){
    $("#formulario").submit();
  });
</script>