<p id="notice"><%= notice %></p>

<p>
  <b>Approved:</b>
  <%= @confirmation.approved %>
</p>

<p>
  <b>Approver:</b>
  <%= @confirmation.approver %>
</p>

<p>
  <b>Disapproval justification:</b>
  <%= @confirmation.disapproval_justification %>
</p>

<p>
  <b>Request:</b>
  <%= @confirmation.request %>
</p>

<p>
  <b>User:</b>
  <%= @confirmation.user %>
</p>


