<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Listando Motoristas</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_driver_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>

  <% @drivers.each do |driver| %>
    <tr>
      <td><%= driver.name %></td>
      <td>
        <%= link_to edit_driver_path(driver), title: 'Editar' do  %><i class="icon-edit"></i><%end%>
        <%= link_to driver, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i><%end%>  
      </td>
    </tr>
  <% end %>
  </table>
</div>
